* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}

.gradient {
  background: linear-gradient(0deg, rgba(255, 200, 218, 1), rgba(97, 93, 173, 1));
  background-repeat: no-repeat;
  height: 100vh;
  padding: 20px;
}

.card {
  max-width: 500px;
  margin: 30px auto;
  background-color: #283e50;
  border-radius: 10px 10px 0 0;
  text-align: center;
  font-size: 19px;
}

.card__img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card__info {
  padding: 20px 20px 30px 20px;
}

.heading {
  color: white;
  font-family: 'Lobster', cursive;
  font-weight: lighter;
}

.heading--index {
  font-size: 52px;
  margin-bottom: 30px;
}

.heading--game {
  font-size: 50px;
  text-align: center;
  margin-bottom: 30px;
}

.button {

  color: #ffffff;
  text-decoration: none;
}

.button--block {
  display: block;
  padding: 20px;
}

.button--primary {
  background-color: #1fcca4;
}

.button--block.button--primary {
  margin-bottom: 1.5px;
}

.button--primary:hover {
  background-color: #1cbb96;
  cursor: pointer;
}

.button--secondary {
  background-color: #0197f6;
}

.button--secondary:hover {
  background-color: #0090e9;
  cursor: pointer;
}

.game {
  max-width: 80vmin;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__player {
  display: flex;
  gap: 5px;
}

.navigation__buttons {
  display: flex;
  gap: 5px;
}

.button--square {
  height: 35px;
  width: 35px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__icone {
  width: 60%;
}

.navigation__text {
  text-transform: uppercase;
}
